.footer {
    width: var(--width-footer);
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.footer__link {
    color: var(--color-lightblue);
    text-decoration: none;
    margin: 0 5px;
    border-radius: 20px;
}

.footer__link:hover {
    text-decoration: underline;
}

