.main {
    width: var(--width-main);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__title {
    font-size: var(--font-size-h3);
    color: var(--color-blue);
    margin-bottom: 15px;
}

.main__text__h2 {
    font-style: italic;
}
.main__text {
    font-size: var(--font-size-text);
    margin-bottom: 20px;
    line-height: 1.6;
    padding-left: 20px;
}

.main__image {
    width: 60%;
    border-radius: 15px;
    margin: 20px auto;
    display: block;
}
