.sidebar2 {
    width: var(--width-sidebar2);
    height: var(--hegth-sidebar2);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d7e8db;
    font-style: italic;
    text-align: center;
    font-size: var(--font-size-text);
}